#firsth1{
    text-align:center;
    color: black;
    text-decoration: underline;
}

.furru{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3{
    text-align: center;
    color:black;
}

#firstbg{

    background-color: teal;
    color:black;
}

h2{
    text-align: center;
    color: teal;
}

label,button {
        display: inline-block;
        width: 200px;
        text-align: right;
        font-weight: bold;
      }
  

h1{
    color:teal;
    text-align: center;
}

#thirdbg{
    background-color: #18c7ad;
}

footer{

    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-top: 2px solid grey;
    background-color: #09dde0;
  }

  .btn{
     margin-left: 525px;
  }

  form{
      border: 1px solid black;
      padding: 20px;
  }

  input{
      width: 500px;
  }

  label{
      margin-left: 170px;
  }
 
  #center{
        margin-left: 40%;
        background-color: #18c7ad;
        text-align: center;

}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 6px 6px;
	border-style: solid;
	border-color: #a50c0c transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 6px 6px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

